extends layout

block content
  
  .container
    h1 Welcome to our Blockchain project
    h3 1. Hash-Implementation of SHA-256 algorithm,which is a hashing algorithm.
    h3 2. Block- Single block of the blockchain having nonce,and you can mine accordingly by using mine button.
    h3 3. Single BlockChain- Single blockchain. 
    h3 4. Blockchain-Peers blockchain.
    
   
     
